{
  "printWidth": 120,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.js, *jsx, *.ts, *.tsx"
    }
  ]
}