.heading {
  text-decoration: none;
  overflow: auto;
  top: 0;
  position: sticky;
  width: 100%;
  padding: 1em 0;
  background-color: midnightblue;
  .icon {
    font-size: x-large;
    color: #eedaaf;
    cursor: pointer;
  }
  @media (min-width: 600px) {
    .icon {
      font-size: xxx-large;
    }
  }
  span {
    position: fixed;
  }
  h3 {
    display: grid;
    place-items: center;
    margin-bottom: 0;
    color: #eedaaf;
    font-size: larger;
  }
  @media (min-width: 600px) {
    h3 {
      font-size: x-large;
    }
  }
}
.user-list {
  // margin: 0 auto;
  // width: 70%;
  // max-width: 60rem;

  margin: 0 auto;
  width: 100%;
  .load-more {
    cursor: pointer;
    font: inherit;
    color: black;
    border: none;
    background: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    display: grid;
    // place-items: center;
    margin: auto;
    :hover {
      background-color: #99790f;
    }
  }
}
@media (min-width: 600px) {
  .user-list {
    width: 90%;
  }
}
.sub-heading {
  display: grid;
  place-items: center;
  color: #99790f;
  font-size: x-large;
  margin: 0.5em auto;
  a {
    text-decoration: none;
    color: #99790f;
  }
}
@media (max-width: 600px) {
  .sub-heading {
    font-size: inherit;
  }
}
.user {
  //   margin: 1rem 0;
  //   padding: 1rem;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: flex-end;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  //   border-radius: 6px;
  //   background-color: #99790f;

  display: inline-table;
  position: inherit;
  margin: 1rem 0.5em;
  padding: 1rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  border-radius: 6px;
  background-color: #99790f;
  width: 40%;
  height: 14rem;

  .last-of-type {
    border-bottom: none;
  }
  p {
    font-size: medium;
    font-weight: 900;
    color: white;
    margin: 0;
    margin-bottom: 0.25rem;
  }
  @media (min-width: 600px) {
    p {
      font-size: large;
    }
  }

  span {
    margin: 0;
    padding: 0;
    width: 70%;
    font-size: small;
    font-weight: 700;
    color: white;
    margin: 0;
    margin-bottom: 0.25rem;
  }
  @media (min-width: 600px) {
    span {
      font-size: medium;
    }
  }
}
@media (min-width: 700px) {
  .user {
    width: 30%;
  }
}
@media (min-width: 1000px) {
  .user {
    width: 23%;
    height: 12rem;
  }
}
.loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #99790f;
  border-color: #99790f transparent #99790f transparent;
  animation: spinner 1.2s linear infinite;

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
.loader {
  width: 80px;
  height: 80px;
  margin: auto;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #99790f;
  border-color: #99790f transparent #99790f transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
