.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px 8px;
    padding: .5rem;
    box-sizing: border-box;
    background-color: white; 
    box-shadow : 0 7px 10px -7px rgb(177, 184, 176);
}

.loadMore {
    width: 180px;
    font-size: 20px;
    color: #fff;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    border-radius: 100px;
    border: 1px solid transparent;
    background-color: #457eff;
    transition: .3s;
}
.loadMore:hover {
    color: blue;
    background-color: #fff;
    border: 1px solid blue;
    text-decoration: none;
}