.body{
    font-family:  'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 14px;
}

.usersWrapper{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.userActions{
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    
}

.loadMoreButton{
    width: 150px;
    line-height: 40px;
    font-weight: bold;
    border-radius: 0.25rem;
    margin: 0 auto;
    display: block;
    background: #0067b8;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.loadMoreButton:hover { 
    background: lightsteelblue;
    color:darkslateblue;
 }

