:root {

    // colors
    --dark: #000000;
    --yellow: #f0e118;
    --dark-purple: #5A3A5D;
    --white: #ffffff;
  
    //margins and paddings
    --padding: 1rem;
  
    --max-width: 420px;
  
    // Declare all font-sizes used for all screens
    --font-size-h2: 2rem;
    --font-size-h2-small: 1.4rem;
    --font-size-p: 1.5rem;
    --font-size-p-small: 1rem;
  }