.pageWrapper {
    position: relative;
    width: 100%;
}

.container {
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 7.5em 2rem 0;
}

.main {
    min-height: 100vh;
    position: relative;
}